<br>
<br>
<br>

<table class="table table-hover">
  <thead>
  <tr>
      <td>Activity Index</td>
      <td>Activity Name</td>
      <td>Activity Bio</td>
      <td>Number of Participants</td>
      <td>Activity Space (m^2)</td>
      <td colspan="1">Actions</td>
      <td>Activity Permission</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let activity of activities; let i = index">
        <td>{{i+1}}</td>
        <td>{{ activity.ActivityName }}</td>
        <td>{{ activity.ActivityBio }}</td>
        <td>{{ activity.ActivityNoParticipants }}</td>
        <td>{{ activity.ActivitySpace }}</td>

          <td><a [routerLink]="['/edit', activity._id]" class="btn btn-primary">Edit</a>&nbsp;<a (click) = "deleteActivity(activity._id, i)" class="btn btn-danger">Delete</a>
        <td>{{activity.ActivitySpace/activity.ActivityNoParticipants>=1.5 ? 'Allowed' : 'Denied'}}</td>
      </tr>
  </tbody>
</table>
