<!-- activity-add.component.html -->

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Activity Name</label>
        <input type="text" class="form-control"
        formControlName="ActivityName"
          #ActivityName/>
      </div>
      <div *ngIf="angForm.controls['ActivityName'].invalid && (angForm.controls['ActivityName'].dirty || angForm.controls['ActivityName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivityName'].errors.required">
          Activity Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Activity Bio </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="ActivityBio"
        #ActivityBio></textarea>
      </div>
      <div *ngIf="angForm.controls['ActivityBio'].invalid && (angForm.controls['ActivityBio'].dirty || angForm.controls['ActivityBio'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivityBio'].errors.required">
          Activity Bio is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Activity Age</label>
        <input type="text" class="form-control"
        formControlName="ActivityAge"
        #ActivityAge/>
      </div>
      <div *ngIf="angForm.controls['ActivityAge'].invalid && (angForm.controls['ActivityAge'].dirty || angForm.controls['ActivityAge'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivityAge'].errors.required">
          Activity Age is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Activity Space</label>
        <input type="text" class="form-control"
        formControlName="ActivitySpace"
        #ActivitySpace/>
      </div>
      <div *ngIf="angForm.controls['ActivitySpace'].invalid && (angForm.controls['ActivitySpace'].dirty || angForm.controls['ActivitySpace'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivitySpace'].errors.required">
          Activity Space is required.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid"
        (click) = "addActivity(ActivityName.value, ActivityBio.value, ActivityAge.value, ActivitySpace.value)">Create Activity</button>
      </div>
    </form>
  </div>
</div>
