<br>
<br>
<br>

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Activity Name</label>
        <input type="text" class="form-control"
        formControlName="ActivityName"
          #ActivityName
          [(ngModel)] = "activity.ActivityName"/>
      </div>
      <div *ngIf="angForm.controls['ActivityName'].invalid && (angForm.controls['ActivityName'].dirty || angForm.controls['ActivityName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivityName'].errors.required">
          Activity Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Activity Bio </label>
        <textarea class="form-control" rows = 7 cols = "5"
        formControlName="ActivityBio"
        #ActivityBio
        [(ngModel)] = "activity.ActivityBio"></textarea>
      </div>
      <div *ngIf="angForm.controls['ActivityBio'].invalid && (angForm.controls['ActivityBio'].dirty || angForm.controls['ActivityBio'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivityBio'].errors.required">
          Activity Bio is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Number of Participants</label>
        <input type="text" class="form-control"
        formControlName="ActivityNoParticipants"
        #ActivityNoParticipants
        [(ngModel)] = "activity.ActivityNoParticipants"/>
      </div>
      <div *ngIf="angForm.controls['ActivityNoParticipants'].invalid && (angForm.controls['ActivityNoParticipants'].dirty || angForm.controls['ActivityNoParticipants'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivityNoParticipants'].errors.required">
          Number of Participants is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Activity Space (m^2)</label>
        <input type="text" class="form-control"
        formControlName="ActivitySpace"
        #ActivitySpace
        [(ngModel)] = "activity.ActivitySpace"/>
      </div>
      <div *ngIf="angForm.controls['ActivitySpace'].invalid && (angForm.controls['ActivitySpace'].dirty || angForm.controls['ActivitySpace'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['ActivitySpace'].errors.required">
          Activity Space is required.
        </div>
      </div>
      <div class="form-group" style="display: none;">
        <label class="col-md-4">Activity Report</label>
        <input type="text" class="form-control"
        formControlName="ActivityReport"
        #ActivityReport
        [(ngModel)] = "activity.ActivityReport"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"
        [disabled]="angForm.pristine || angForm.invalid"
        (click) = "updateActivity(ActivityName.value, ActivityBio.value, ActivityNoParticipants.value, ActivitySpace.value, ActivityReport)">Update Activity</button>
      </div>
    </form>
  </div>
</div>
